*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*
    Using width: 100% will always match the width of the container so it will stretch out the image.
*/
img {
    max-width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1,h2 {
    font-family: "adelle" ,serif;
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

#header {
    width: 100%;
}

#banner {
    width: 100%;
    background-image: url('http://placehold.it/980x460');
    background-repeat: no-repeat;

}

.banner-leftside, .banner-rightside {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.banner-rightside {
    position: relative;
}

.cta-button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #800000;
}

.rightside-button {
    max-width: 35.5%;
    padding: 2.5%;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

#steps {
    width: 100%;
}

.step-one, .step-two, .step-three {
    width: 32.333%;
    display: inline-block;
    vertical-align: top;
}


@media only screen and (max-width: 490px) {
    #banner {
        background-image: none;
    }
    .banner-leftside, .banner-rightside {
        display: block;
        width: 100%;
    }
    .step-one, .step-two, .step-three {
        width: 100%;
        display: block;
    }

}
