/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* All Styles below after CSS reset */


/* The font size will default to 16px */
body {
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 1em 0;
}

.mobile-splash {
    display: none;
}

/* Anything expressed in em will be relative to the font-size property set in px */
.header {
    width: 100%;
    padding: 1em 0.5em 0 0.5em;
}


h1 {
    font-size: 1.5em;
    padding: 0 0 0.5em 0;
}

.banner {
    position: relative;
}

.text-layer {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 60em;
}

.left, .right {
    display: inline-block;
    width: 49%;
    padding: 2em;
}



/* Start of media queries for devices */

@media only screen and (max-width: 1280px) {
    /* Generic Laptop */

}

@media only screen and (max-width: 1024px) {
    /* Ipad Landscape */

}

@media only screen and (max-width: 800px) {
    /* Tablets */

}

@media only screen and (max-width: 768px) {
    /* Ipad Portrait */

}

@media only screen and (max-width: 600px) {
    /* Smaller tablets I.E. - Kindle Fire */

}

@media only screen and (max-width: 414px) {
    /* Mobile Devices - Iphone 6 and under */
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 1.20em;
    }

    p {
        font-size: 0.75em;
    }

    .header {
        padding: 2em 1em 0 1em;
    }

    .left, .right {
        display: block;
        width: 100%;
    }

    .desktop-splash {
        display: none;
    }

    .mobile-splash {
        display: block;
    }

}

@media only screen and (max-width: 320px) {
    /* Mobile devices with tiny screens */
    h1 {
        font-size: 1em;
    }

    p {
        font-size: 0.75em;
    }

}